.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	padding: 20px;
}

.title {
	font-size: var(--font-size-400);
	font-weight: bold;
	color: var(--dark-red-shadow);
	text-transform: uppercase;
}

.form {
	display: flex;
	gap: 20px;
	width: 100%;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}
