.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 20px;
}

.title {
	position: relative;
	font-size: var(--font-size-600);
	font-weight: bold;
	color: var(--dark-red-shadow);
	text-transform: uppercase;
}

.title::first-letter {
	color: var(--main-color);
}

.title::before {
	position: absolute;
	top: 100%;
	left: 0;
	display: inline-block;
	width: 50%;
	height: 8px;
	vertical-align: top;
	content: "";
	background-color: var(--main-color);
	border-radius: 2px;
	transform: skew(-40deg, 0deg);
}

.title::after {
	position: absolute;
	top: 100%;
	left: 52%;
	display: inline-block;
	width: 25%;
	height: 5px;
	vertical-align: top;
	content: "";
	background-color: var(--dark-red-shadow);
	border-radius: 2px;
	transform: skew(-40deg, 0deg);
}
